{% extends 'main.html' %}
{% include 'navbar.html' %}  <!--  navbar templatini yama ettik -->

{% block content %}
<style>
    .home-container{
        display: grid;
        grid-template-columns: 0.5fr 1fr 3fr 1fr;
    }
</style>

<h1>selam home templati</h1>

<div class="home-container">
    
    <div>
            {% include 'app_base/topics_component.html' %}
    </div>

    <!-- FOR CLUBS -->
    <div>
    <hr>
    <h1 style="text-align: center; margin:50px,0px; color: red;">OSTIMTECH CLUBS</h1>
        
        <div>
            <hr><hr>
            <h5>{{club_count}} kulüp mevcut</h5>
            <a href="{% url 'create_club' %}">Kulüp Oluştur</a>   <!-- "{% url 'create_room'%}" ile '' arasına url in özel adını girerek yönlendirebiliyoruz -->
            <hr><hr>
            <hr>
            {% for club in clubs %}
            <div>
                <a href="{% url 'update_club' club.id %}">Düzenle</a>
                <a href="{% url 'delete_club' club.id %}">Sil</a>
                <h3><a href="/club/{{club.id}}">{{club.name}}</a></h3>
                <!-- <p>{{club.description}}</p> -->
                <br><br><br>
                <hr>
            </div>
            {% endfor %}
        </div>
    
    </div>

    <!-- FOR ROOMS -->
    <div>
        <h1 style="text-align: center; margin:50px,0px; color: red;">OSTIMTECH ROOMS</h1>

        <div>
            <hr><hr>
            <h5>{{room_count}} oda mevcut</h5>
            <a href="{% url 'create_room' %}">Oda Oluştur</a>   <!-- "{% url 'create_room'%}" ile '' arasına url in özel adını girerek yönlendirebiliyoruz -->
            <hr><hr>
           {% include 'app_base/feed_component.html' %}
        </div>
    </div>

    <div>
    {% include 'app_base/activity_component.html' %}
    </div>
</div>

<footer>
    <h3 style="position: absolute;bottom: 0; left:50%;">Footer GDSC LTD</h3>
</footer>
{% endblock content %}